################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CleverestCode/bin
/CleverestCode/obj
/CleverestCode.Tests/bin
/CleverestCode.Tests/obj
